@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Sans SC", "Microsoft YaHei", "Noto Sans CJK TC", "PingFang HK", Roboto, MingLiU, PMingLiU-TW, PMingLiU-ExtB, SimHei, SimSun;
  font-size: 0.875rem; /* sm size */
}